*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
.themcauhoi{
  width: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
}
.header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(37, 159, 253);
  color: white;
  justify-content: flex-start;
}
.btn-back {
    width: 5rem;
    object-fit: cover;
  }
.tieude{
  margin-left: 20px;
}
.box-nhieudapan {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    margin-top: 5rem;
    border-color: #717171;
    border-width: 1px;
    border-radius: 16px;
    flex-direction: column;
    border-style: solid;
  }
  .text-margin {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .text-size {
    font-size: 20px;
  }
  .textarea {
    width: 90%;
    align-self: center;
    border-color: #717171;
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 0.5rem;
  
  }

  .box-dapan {
    flex: 0 0 auto;
    width: 100%;
    height: fit-content;
    display: flex;
    align-self: center;
    margin-top: 20px;
    justify-content: center;
  }
  .textinput-dapan {
    align-self: center;
    margin-left: 10px;
  }
  
  .btn-plus {
    color: rgb(36, 160, 255);
    width: 40%;
    font-size: 25px;
    align-self: center;
    font-style: normal;
    font-weight: 700;
    border-color: #717171;
    border-radius: 16px;
    margin-top: 20px;
    border-color: #717171;
    border-width :1px; 
    border-style: solid;

  }
  
  .btn-xetduyet {
    margin-top: 40px;
    color: rgb(255, 255, 255);
    width: 80%;
    font-size: 25px;
    align-self: center;
    border-width: 0px;
    border-radius: 16px;
    background-color: rgb(36, 160, 255);
  }
  